<!doctype html>
<html>
<head>
    <title>Create Group</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>

<!-- Nav Bar -->
<nav class="navbar navbar-default"><div class="container-fluid"><div class="navbar-header"><a class="navbar-brand" href="/">Meet With Pebble</a></div><div class="collapse navbar-collapse" id="navbar-collapse"><ul class="nav navbar-nav"><% if (user != null) { %> <li><a href="/profile">Profile</a></li> <% } %><li><a href="/group/portal">Group Portal</a></li></ul><ul class="nav navbar-nav navbar-right"><% if (user != null) {	%><li><a href="/logout">Logout</a></li><% } else { %><li><a href="/login">Login</a></li><% } %></ul></div></div></nav>

<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-users"></span> Create Group</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- Create Group Form -->
    <form action="/group/create-group" method="post">
	<div class="form-group">
            <label>Group Name</label>
            <input type="text" class="form-control" name="groupName" required>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Create</button>
    </form>

    <hr>

    <p>Return to <a href="/profile">profile</a>.</p>

</div>

</div>
</body>
</html>
