<!doctype html>
<html>
<head>
    <title>Group DNE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-users"></span> Sorry!</h1>
    <h2>This group does not exist...</h2>

    <p> 
    	Return to <a href="/">profile</a>. 
    </p>

</div>

</div>
</body>
</html>
